/target
/.vscode
*.bin
/data/
/server/data
/server/snapshots
snapstore.bin
snapstore.partmap
/snapshots 
/.idea
.DS_Store
.sky_history
.sky_pid
.devcontainer
*.deb
.skytest_*
*.pem
passphrase.txt
*.db-tlog
*.db