[package]
name = "sky_macros"
version = "0.6.3"
authors = ["Sayan Nandan <ohsayan@outlook.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
proc-macro = true

[dependencies]
# external deps
syn = {version = "1.0.73", features = ["full"]}
quote = "1.0.9"
proc-macro2 = "1.0.27"
rand = "0.8.4"