name: Docker Image (GitHub)

on:
  push:
    branches: [ next ]
  pull_request:
    branches: [ next ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
